body {
  background-color: #00404f;
  font-family: "Segoe UI", "Segoe WP", "Helvetica Neue", 'RobotoRegular', sans-serif;
  color: #fff;
}
h1 {
  font-family: "Segoe UI Light", "Segoe WP Light", "Helvetica Neue", 'RobotoRegular', sans-serif;
  font-weight: normal;
  font-size: 50px;
  line-height: 45px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
h2 {
  font-family: "Segoe UI SemiBold", "Segoe WP SemiBold", "Helvetica Neue", 'RobotoRegular', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
header {
  min-height: 100px;
}
#content {
  background-color: #fff;
  min-height: 400px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.75);
  padding: 20px;
  margin-top: 20px;
  border-top: 10px solid #61bc0f;
}
footer {
  background-color: rgba(0, 0, 0, 0.25);
}
footer p {
  text-align: center;
  line-height: 50px;
  margin: 0;
  padding: 0;
}
/* Sticky Footer */
html,
body {
  height: 100%;
}
#wrapper {
  min-height: 100%;
}
#body {
  overflow: auto;
  padding-bottom: 50px;
}
/* must be same height as the footer */
footer {
  position: relative;
  margin-top: -50px;
  /* negative value of footer height */

  height: 50px;
  clear: both;
}
/*Opera Fix*/
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}
