@model RockPaperWinners.Web.Models.HomeViewModel

@{
    ViewBag.Title = "Curently Playing";
}

<div id="game-wrapper">
    <div id="opponent">
        <img alt="" />
        <div class="details">
            <h4>Waiting For Opponent...</h4>
        </div>
    </div>
    <div id="player">
        <img src="@Model.ImageSource" alt="" />
        <div class="details">
            <h4>@Model.Name</h4>
        </div>
    </div>
    <div id="controls">
        <button id="rock">Rock</button>
        <button id="paper">Paper</button>
        <button id="scissors">Scissors</button>
    </div>
</div>

@section underbody
{
    <div class="row">
        <div class="span4">
            <div class="hanger">
                <h3>Current Funds: $13.45</h3>
            </div>
        </div>
    </div>
}